* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 96px;
  border-bottom: 1px solid #e5e5e5;
}

.upperdiv {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
}

.brand {
  width: 185px;
}

.upperdiv > ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

.downdiv > ul {
  list-style: none;
  display: flex;
  margin: 0px auto;
  gap: 47px;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.downdiv {
  padding: 15px 0px;
}

.showcase {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
  margin: 50px auto;
}

.filter-content {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-products {
  display: grid;
  gap: 16px;
  grid-template-columns: 300px auto;
  margin: 25px 0px;
}

.filter-products-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px;
}

.filter {
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  max-width: 300px;
}

.upper-footer {
  display: flex;
  padding-bottom: 30px;
  padding-top: 78px;
  border-bottom: 1px solid white;
}

.down-footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.left-down > ul {
  list-style: none;
}

.left-down > ul > li {
  margin-top: 10px;
}

.middle-down > ul {
  list-style: none;
}

.middle-down > ul > li {
  margin-top: 10px;
}

.left-footer {
  width: 50%;
}

.right-footer {
  width: 50%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

.copy-right {
  text-align: center;
  padding: 25px 0px;
}

.logo {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
}

.showcase > h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
}

.showcase > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
}

.description {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.product-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
  background: black;
  padding: 0 96px;
}

.footer-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.option-wrapper {
  position: absolute;
  border-radius: 4px;
  width: 235px;
  border: 1px solid #e5e5e5;
  margin-top: 12px;
  margin-left: -77px;
  background: white;
}

.option-wrapper > ul {
  list-style: none;
  padding: 20px;
  text-align: right;
}

.option-wrapper > ul > li {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}

.filter-wrapper {
  border-bottom: 1px solid #e5e5e5;
  padding: 13px 0px;
}

.filter-header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.filter-column {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.filter-button {
  display: flex;
  justify-content: space-between;
  width: 318px;
}

.input-wrapper {
  margin-top: 25px;
}

.input-wrapper > input {
  max-width: 384px;
  margin-right: 10px;
  width: 100%;
  outline: none;
  padding: 8px 20px;
}

.input-wrapper > button {
  border-radius: 5px;
  color: #878282;
  border: 1px solid #878282;
  background: transparent;
  padding: 8px 20px;
}

.usa-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.social {
  margin-top: 15px;
}

.cards-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 13px;
}

.main-content {
  border-top: 1px solid #e5e5e5;
}

.filter-list {
  flex-direction: column;
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.footer-big {
  display: block;
}

.footer-small {
  display: none;
}

.burger {
  display: none;
}

.last-two-icons {
  display: flex;
  gap: 12px;
}

.user-contact,
.currency-wrapper {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.arrow-white {
  display: none;
}

.hide_filter {
  align-items: center;
  display: flex;
  color: #888792;
  text-decoration: underline;
  cursor: pointer;
}

.mr-5 {
  margin-right: 5px;
}

.select-all {
  color: #bfc8cd;
  text-decoration: underline;
}

.dropdown {
  cursor: pointer;
}

.active-toggle {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 30px !important;
}

.downdiv > ul > li,
.upperdiv > ul > li,
.upperdiv > ul > div > li {
  cursor: pointer;
}

.scroll-arrow {
  transform: rotate(180deg);
}

input[type="checkbox"] {
  cursor: pointer;
}

.filter-header {
  cursor: pointer;
}

.user-cont {
  font-size: 15px;
}

@media only screen and (max-width: 1232px) {
  .input-wrapper > input {
    width: auto;
    max-width: auto;
  }
}

@media only screen and (max-width: 1092px) {
  .input-wrapper > input {
    width: auto;
    max-width: auto;
  }
}

@media only screen and (max-width: 900px) {
  .upper-footer {
    flex-direction: column;
  }
  .right-footer {
    margin-top: 50px;
  }
  .right-footer,
  .left-footer {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .down-footer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .right-down {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 592px) {
  .upper-footer {
    padding-top: 30px;
  }
  .left-footer {
    padding-bottom: 30px;
    border-bottom: 1px solid white;
  }
  .right-footer {
    margin-top: 30px;
  }
  .user-contact {
    border-bottom: 1px solid white;
    padding-bottom: 25px;
    gap: 6px;
    display: flex;
  }
  .user-cont {
    font-size: 12px;
  }
  .currency {
    margin: 15px 0px;
  }
  .footer-desc {
    display: none;
  }
  .footer-big {
    display: none;
  }
  .footer-small {
    display: block !important;
  }
  .down-footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .left-down {
    padding-bottom: 30px;
    border-bottom: 1px solid white;
  }
  .services {
    display: flex;
    justify-content: space-between;
  }
  .q_links {
    display: flex;
    justify-content: space-between;
  }
  .middle-down {
    border-bottom: 1px solid white;
    padding: 30px 0px;
  }
  .follow_us {
    padding-bottom: 25px;
    border-bottom: 1px solid white;
  }
}

@media only screen and (max-width: 810px) {
  .header-wrapper {
    padding: 0 20px;
  }
  .downdiv {
    display: none;
  }
  .brand {
    display: flex;
    width: auto;
  }
  .burger {
    display: block;
    margin-right: 10px;
  }
  .last-two-icons {
    display: none;
  }
  footer {
    padding: 0 20px;
  }
  .showcase > h3 {
    font-size: 35px;
  }
  .showcase > p {
    margin-top: 15px;
    font-size: 18px;
  }
  .cards-wrapper {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 680px) {
  .filter-products,
  .filter-products-flex {
    display: flex;
    flex-direction: column;
  }
  .items {
    display: none;
  }
  .right-dropdown {
    width: 100%;
    justify-content: center;
    border-left: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
  }
  .filter-button {
    width: 100%;
    justify-content: center;
  }
  .arrow-white {
    display: block;
  }
  .dropdown,
  .hide_filter {
    font-size: 12px;
  }
  .brand > img,
  .upperdiv > ul > li > img {
    width: 20px;
  }
  .logo {
    font-size: 20px;
  }
  .brand {
    width: 84px;
  }
  .input-wrapper > input {
    padding: 8px;
  }
  .input-wrapper > button {
    padding: 8px;
  }
  .left-down > ul > li {
    font-size: 15px;
  }
  .middle-down > ul > li {
    font-size: 15px;
  }
  .copy-right {
    font-size: 12px;
  }
}
